
body {
	background-color: #0D1455;
	font-family: arial, Helvetica;
	font-size: 12.5px;
	text-align: justify;
	color: #fff;
}

.moz {
	-moz-border-radius: 6px;
}

#tabla {
	margin-bottom: 1em;
}

/* ####################################### HEADER ####################################### */

.header {
	width: 100%;
	height: 100%;
	background: url('main/layout/fondo_banner_riolu.png') center repeat;
	border-collapse: collapse;
	-moz-border-radius: 6px;
} 

.header2 {
	border-width: 1px;
	border-color: #3292C5;
	border-style: solid solid none solid;
}

#autosuggest ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #91cfa1;
	background: rgba(51, 108, 166, 0.9);
	font-weight: normal;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 4;
height: 10em;
overflow: scroll;
}

#autosuggest a {
	display: block;
	width: 14em;
	text-decoration: none;
	color: #cff;
	padding: 0.25em 2em;
}

#autosuggest li:hover, #autosuggest li.sfhover {
	background-color: #506D9F;
}

#cartasuggest ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #91cfa1;
	background: rgba(51, 108, 166, 0.9);
	font-weight: normal;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 4;
height: 10em;
overflow: scroll;
}

#cartasuggest a {
	display: block;
	width: 25em;
	text-decoration: none;
	text-align: left;
	color: #cff;
	padding: 0.25em 2em;
}

#cartasuggest li:hover, #cartasuggest li.sfhover {
	background: #506D9F;
}

#newsuggest ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #91cfa1;
	background: rgba(51, 108, 166, 0.9);
	font-weight: normal;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 4;
height: 10em;
overflow: scroll;
}

#newsuggest a {
	display: block;
	width: 14em;
	text-decoration: none;
	text-align: left;
	color: #cff;
	padding: 0.25em 2em;
}

#newsuggest li:hover, #newsuggest li.sfhover {
	background-color: #506D9F;
}
#newsuggest a:hover {
	background: rgba(255,255,255,0.95);
	color: #333333;
}

#cartasuggestop ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #91cfa1;
	background: rgba(51, 108, 166, 0.9);
	font-weight: normal;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 4;
height: 10em;
overflow: scroll;
}

#cartasuggestop a {
	display: block;
	width: 14em;
	text-decoration: none;
	text-align: left;
	color: #cff;
	padding: 0.25em 2em;
}

#cartasuggestop li:hover, #cartasuggestop li.sfhover {
	background-color: #506D9F;
	color: #333333;
}
#cartasuggestop a:hover {
	background: rgba(255,255,255,0.95);
	color: #333333;
}



/* ####################################### NAVEGADOR ####################################### */

.container {
	text-align: left;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
}

#nav, #nav ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #3292C5;
	font-weight: bold;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 3;
}

#nav a {
	display: block;
	width: 10em;
	text-decoration: none;
	padding: 0.25em 2em;
}

#nav a.submenu {
	background:  url('main/layout/flechamenu.gif') center right no-repeat;
}

#nav a.nohay {
	background:  url('main/layout/nomenu.gif') center right no-repeat;
}

#nav a.star {
	background:  url('main/layout/starmenu.gif') center right no-repeat;
}

#nav a.new {
	background:  url('main/layout/newmenu.gif') center right no-repeat;
}

#nav li {
	float: left;
	padding: 0;
	width: 10em;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
	-moz-border-radius: 6px;
}

#nav li li {
	padding-right: 1em;
	width: 13em;
}

#nav li ul a {
	width: 13em;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	background-color: #506D9F;
}

.nvm1:hover {
	background-image: url('main/layout/baya1.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

.nvm2:hover {
	background-image: url('main/layout/baya3.gif');
	background-repeat: no-repeat;
	background-position: center left;
}


.nvm3:hover {
	background-image: url('main/layout/baya4.gif');
	background-repeat: no-repeat;
	background-position: center left;
}


.nvm4:hover {
	background-image: url('main/layout/baya2.gif');
	background-repeat: no-repeat;
	background-position: center left;
}


#navi td {
	padding-left: 1em;
	padding-right: 1em;
}

.nvli {
	-moz-border-radius: 3px;
}

.nvm {
	border-width: 1px;
	border-color: #ccffff;
	border-style: none solid none solid;
}

.nvm1 {
	background-image: url('main/layout/baya1b.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

.nvm1nolink {
	background-image: url('main/layout/baya1.gif');
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #0d1455;
}

.nvm2 {
	background-image: url('main/layout/baya3b.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

.nvm2nolink {
	background-image: url('main/layout/baya3.gif');
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #0d1455;
}

.nvm3 {
	background-image: url('main/layout/baya4b.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

.nvm3nolink {
	background-image: url('main/layout/baya4.gif');
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #0d1455;
}

.nvm4 {
	background-image: url('main/layout/baya2b.gif');
	background-repeat: no-repeat;
	background-position: center left;
}

.nvm4nolink {
	background-image: url('main/layout/baya2.gif');
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #0d1455;
}

a.nv:link, a.nv:visited, a.nv:active, a.nvm:link, a.nvm:visited, a.nvm:active {
	color: #cff;
	text-decoration: none;
}

a.nav0:link, a.nav0:visited, a.nav0:active {
	color: rgb(157, 236, 149);
}

a.nv:hover {
	font-style: italic;
}

a.nav1:hover {
	color: rgb(157, 236, 149);
}

a.nav2:hover {
	color: rgb(244, 201, 52);
}

a.nav3:hover {
	color: #F39CE2;
}

a.nav4:hover {
	color: rgb(241, 234, 62);
}

a.nav5:hover {
	color: #DAA6F3;
}

a.nav6:hover {
	color: #B0BBC3;
}

a.navnolink:hover {
	color: #cff;
}


/* ####################################### CONTENIDO ####################################### */

#contenido {
	background-color: #000000;
	/* background-image: url('nds/blanco_negro/sprites/boxsite.gif');
	background-repeat: no-repeat;
	background-position: top right; */
	padding-left: 1em;
	padding-right: 1em;
	border-width: 1px;
	border-color: #3292C5;
	border-style: none solid none solid;
}

#contenido2 {
	position: absolute;
	top: 140px;
	left: 162px;
	right: 3.5em;
	text-align: justify;
	font-size: 80%;
	color: #fff;
	font-family: arial, "times new roman";
}

/* ######### CLASES FIJAS ######### */

h1.titulo {
	font-family: Garamond, verdana;
	color: #E1F2A8;
	text-align: center;
	font-size: 330%;
}

h4.indicador {
	font-family: Garamond, verdana;
	color: #6481c0;
	text-decoration: underline;
	font-size: 120%;
}

h4.subindicador {
	font-family: Garamond, verdana;
	padding-left: 0.5em;
	color: #85a0e3;
	font-size: 110%;
}

ul {
	list-style-image: url('main/layout/list1.png');
}

ul ul {
	list-style-image: url('main/layout/list2.png');
}

ul ul ul {
	list-style-image: url('main/layout/list4.png');
}

ul ul ul ul {
	list-style-image: url('main/layout/list3.png');
}

dt {
	color: #cff;
}

dfn {
	cursor: pointer;
}

.fieldset {
	background-color: #1D67A5;
	padding: 1em;
	-moz-border-radius: 6px;
}

legend {
	background-color: black;
	-moz-border-radius: 6px;
}

a.navc:link, a.navc:visited, a.navc:active, a.nav2c:link, a.nav2c:visited, a.nav2c:active, a.nav3c:link, a.nav3c:visited, a.nav3c:active, a.nav4c:link, a.nav4c:visited, a.nav4c:active, a.nav5c:link, a.nav5c:visited, a.nav5c:active, a.nav6c:link, a.nav6c:visited, a.nav6c:active, a.nav7c:link, a.nav7c:visited, a.nav7c:active {
	color: #cff;
}

a.navc:hover  {
	color: rgb(157, 236, 149);
}

a.nav2c:hover {
	color: rgb(244, 201, 52);
}

a.nav3c:hover {
	color: #F39CE2;
}

a.nav4c:hover {
	color: rgb(241, 234, 62);
}

a.nav5c:hover  {
	color: #DAA6F3;
}

a.nav6c:hover {
	color: #B0BBC3;
}

a.nav7c:hover {
	color: #253F78;
}

a.out {
	padding-right: 13px;
	background-image: url('main/layout/outer.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

a.starli {
	padding-right: 18px;
	background-image: url('main/layout/starmenu.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

a.newli {
	padding-right: 18px;
	background-image: url('main/layout/newmenu.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

a.no {
	padding-right: 18px;
	background-image: url('main/layout/nomenu.gif');
	background-repeat: no-repeat;
	background-position: top right;
}

a.GO {
	padding-left: 42px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-image: url('pokemongo/logo_dex.png');
	background-repeat: no-repeat;
	background-position: center left;
}

a.crown {
	padding-right: 17px;
	background-image: url('switch/pokemon_espada_escudo/expansion/micro_crown.png');
	background-repeat: no-repeat;
	background-position: top right;
}

a.armor {
	padding-right: 17px;
	background-image: url('switch/pokemon_espada_escudo/expansion/micro_armor.png');
	background-repeat: no-repeat;
	background-position: top right;
}


/* ######### CLASES GENERALES ######### */

.justify {
	text-align: justify;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.inline {
	display: inline;
}

.margend {
	padding-left: 1.2em;
}

.hidden {
	visibility: hidden;
}

.tachado {
	text-decoration: line-through;
	color: #cff;
	white-space: normal;
}

.subrayado {
	text-decoration: underline;
	color: #cff;
}

.azul {
	color: #cff;
}

.verde {
	color: rgb(157, 236, 149);
}

.gris {
	color: #9D9D9D;
}

.rojo {
	color: red;
}

.negro {
	color: black;
}

.amarillo {
	color: rgb(241, 234, 62);
}

.naranja {
	color: rgb(244, 201, 52);
}

.morado {
	color: #DAA6F3;
}

.beige {
	color: #fc9;
}

.blanco {
	color: #fff;
}

.rosa {
	color: #E38EDC;
}

.oro {
	color: #d8e079;
}

.resaltado {
	border-color: #cff;
	border-style: solid;
	border-width: 3px;
	padding-left: 1em;
	padding-right: 1em;
	-moz-border-radius: 6px;
}

.resaltadob {
	border-color: rgb(203, 203, 78);
	border-style: solid;
	border-width: 3px;
	padding-left: 1em;
	padding-right: 1em;
	-moz-border-radius: 6px;
}

.mini {
	font-size: 95%;
}

.maxi {
	font-size: 135%;
}

.space {
	white-space: pre;
}

/* ########## JAVASCRIPT / CONCRETOS ########## */

.oculto {
	display: none;
}

.visible {
	display: block;
}

#clock {
	color: #cff;
}

#news a:link, #news a:visited, #news a:active {
	color: #cff;
	font-weight: bold;
}

#news a:hover {
	color: rgb(241, 234, 62);
	font-weight: bold;
}

#news img {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid;
}

#foros a:link, #foros a:visited, #foros a:active {
	color: #cff;
	font-weight: bold;
}

#foros a:hover {
	color: rgb(241, 234, 62);
	font-weight: bold;
}

select, textarea, input.nobusca {
	background-color: #333399;
	color: #cff;
	font-size: 15px;
	-moz-border-radius: 6px;
}

select {
	width: 11.5em;
}

select.dex {
	width: 9.8em;
}

.dex2 {
	background-image: url('main/layout/minidex.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 21px;
}

.dex3 {
	background-image: url('main/layout/minidex2.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 21px;
}

.goosearch {
	background-image: url('main/promo/goo_book.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 15px;
}

.busca {
	background-image: url('nds/nationaldex/stats3.jpg');
	background-color: #3292C5;
	color: #cff;
	border-left: 2px solid #4DC48E;
	border-top: 2px solid #4DC48E;
	border-right: 2px solid #0F6D43;
	border-bottom: 2px solid #0F6D43;
	font-size: 15px;
	font-weight: bold;
	-moz-border-radius: 6px;
}

.busca2 {
	background-color: #3292C5;
	color: #cff;
	border-left: 2px solid #4DC48E;
	border-top: 2px solid #4DC48E;
	border-right: 2px solid #0F6D43;
	border-bottom: 2px solid #0F6D43;
	font-weight: bold;
	-moz-border-radius: 6px;
	font-size: 1.1em;
}

.busca3 {
	background-color: #2f6092;
	color: #cff;
	border-left: 2px solid #336ca6;
	border-top: 2px solid #336ca6;
	border-right: 2px solid #24246b;
	border-bottom: 2px solid #24246b;
	font-weight: bold;
	-moz-border-radius: 6px;
	font-size: 1.1em;
}

#twitter_update_list {
	text-align: left;
	padding: 8px;
}

#twitter_update_list li {
	list-style: none;
}

#twitter_update_list a {
	color: #cff;
}

.quant1 {
	background: #0d1455 url('3ds/pokemonxy/kalos/q1.png') center left no-repeat;
}

.quant2 {
	background: #0d1455 url('3ds/pokemonxy/kalos/q2.png') center left no-repeat;
}

.quant3 {
	background: #0d1455 url('3ds/pokemonxy/kalos/q3.png') center left no-repeat;
}

.quant4 {
	background: #0d1455 url('3ds/pokemonxy/kalos/q4.png') center left no-repeat;
}

table.sortable th.sort:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: "\a0\25B8" 
}

table.sortable th {
	cursor: pointer;
}

/* ######### TABLAS ######### */

#contenido caption {
	font-size: 130%;
	color: #cff;
}

#contenido td {
	padding-left: 1em;
	padding-right: 1em;
}

#contenido th {
	padding-left: 1em;
	padding-right: 1em;
	color: #cff;
}

.semi {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.normal {
	padding-left: 0;
	padding-right: 0;
}

.goshiny {
	background: url(pokemongo/guia/shiny.png) top right no-repeat;
}

.goshadow {
	background: url(pokemongo/guia/ic_shadow.png) bottom left no-repeat;
}

.goshinyshadow {
	background: url(pokemongo/guia/shiny.png) top right no-repeat, url(pokemongo/guia/ic_shadow.png) bottom left no-repeat;
}

.bgrist {
	background-color: #6A6A6A;
}

.bgrist2 {
	background-color: #383838;
}

.bgris1 {
	background-color: #9D9D9D;
}

.bgris2 {
	background-color: #838383;
}

.boro {
	background-color: #9b8f40;
}

.bverde {
	background-color: #2C8A68;
}

.bverde2 {
	background-color: #88C58B;
}

.bverde3 {
	background-color: #074A1A;
}

.bazul {
	background-color: #1D67A5;
}

.bazul2 {
	background-color: #B0CBDA;
}

.bblanco {
	background-color: #FFFFFF;
}

.bnegro {
	background-color: #000000;
}

.bnaranja {
	background-color: #D89A2F;
}

.bnaranja2 {
	background-color: #835b20;
}

.brojo {
	background-color: #651904;
}

.bamarillo {
	background-color: #9b9e6f;
}

.bmorado {
	background-color: #663399;
}

.bmorado2 {
	background-color: #9270b4;
}

.brosa {
	background-color: #ac3572;
}

.back1 {
	background-image:url('main/layout/barra1.png');
}

.back2 {
	background-image:url('main/layout/barra2.png');
}

.back3 {
	background-image:url('main/layout/barra3.png');
}

.back4 {
	background-image:url('nds/nationaldex/stats3.jpg');
}

.back5 {
	background-image:url('nds/nationaldex/stats1.jpg');
}

table.selectora {
	text-align: center;
	margin: 1em;
	border-style: solid;
	border-width: 3px;
	border-color: rgb(50, 146, 197);
	-moz-border-radius: 6px;
}

table.total {
	right: 8em;
	width: 47em;
	margin-top: 0;
}

table.plateada {
	border-color: #cff;
	border-style: solid;
	border-width: 3px;
}

table.dorada {
	border-color: rgb(203, 203, 78);
}

tr.tabla, td.tabla {
	color: rgb(203, 203, 78);
	text-align: center;
	font-weight: bold;
	font-size: 90%;
}

td.tabla2 {
	color: #cff;
	text-align: left;
	font-weight: bold;
	font-size: 90%;
}


td.check2 {
	font-size: 90%;
}

td.check2:hover, td.check2a:hover {
	background-color: rgb(127, 196, 30);
}


tr.check:hover {
	background-color: rgb(77, 196, 142);
}

.check3:hover {
	background-color: #3292C5;
}

/* ####################################### DEX ######################################### */

.pktitle {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid; 
	background-color: #0D1455;
}

.pkmain {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid; 
	background-color: #0D1455;
}

.bordedcho {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: none solid none none;
}

.bordedcho2 {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid solid solid none;
}

.bordeizdo {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: none none none solid;
}

.bordeizdo2 {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid none solid solid;
}

.bordeambos {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: none solid none solid;
}

.bordearriba {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid solid none solid;
}

.bordearriba2 {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid none none none;
}

.bordeabajo {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: none solid solid solid;
}

.bordeabajo2 {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: none none solid none;
}

.bordetodos {
	border-width: 1px; 
	border-color: #3292C5; 
	border-style: solid;
}

#dex, #dex ul {
	float: left;
	list-style: none;
	line-height: 1;
	background: #1D67A5;
	font-weight: bold;
	padding: 0;
	border: 2px #ccffff solid;
	margin: 0 0 0 0;
	z-index: 3;
}

#dex a {
	display: block;
	width: 10em;
	text-decoration: none;
	padding: 0.25em 2em;
}

#dex a.submenu {
	background:  url('main/layout/flechamenu.gif') center right no-repeat;
}

#dex a.nohay {
	background:  url('main/layout/nomenu.gif') center right no-repeat;
}

#dex a.new {
	background:  url('main/layout/newmenu.gif') center right no-repeat;
}

#dex a.star {
	background:  url('main/layout/starmenu.gif') center right no-repeat;
}

#dex li {
	float: left;
	padding: 0;
	width: 10em;
}

#dex li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
	-moz-border-radius: 6px;
}

#dex li li {
	padding-right: 1em;
	width: 13em;
}

#dex li ul a {
	width: 14em;
}

#dex li ul ul {
	margin: -1.75em 0 0 14em;
}

#dex li:hover ul ul, #dex li:hover ul ul ul, #dex li.sfhover2 ul ul, #dex li.sfhover2 ul ul ul {
	left: -999em;
}

#dex li:hover ul, #dex li li:hover ul, #dex li li li:hover ul, #dex li.sfhover2 ul, #dex li li.sfhover2 ul, #dex li li li.sfhover2 ul {
	left: auto;
}

#dex li:hover, #dex li.sfhover2 {
	background-color: #0D1455;
}


/* ####################################### FOOTER ####################################### */

.foot {
	background-color: #000000;
	border-width: 1px;
	border-color: #3292C5;
	border-style: none solid none none;
}

.footer2 {
	background-image: url('main/layout/barrafooter.gif');
	background-repeat: repeat;
	background-position: center;
	border-width: 1px;
	border-color: #3292C5;
	border-style: none solid none none;
}

.footer {
	background-image: url('main/layout/barrafooter.gif');
	background-repeat: repeat;
	background-position: center;
	border-width: 1px;
	border-color: #3292C5;
	border-style: none none none solid;
	border-collapse: collapse;
	font-family: verdana, tahoma;
	font-size: 0.78em;
	color: #000;
	text-align: justify;
	padding-right: 1em;
}

#home {
	position: fixed;
	bottom: 2px;
	right: 0px;
	z-index: 2;
}